Repository hidoo/renovate-config: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --write, renovate-config-validator

docs(readme): add status badge
  README.md
Due: none

style: format by prettier
  renovate.json
Due: prettier --write

ci(github): fix pnpm/action-setup version to v2.4.0 [shepherd]
  .github/workflows/test.yml
Due: none

feat: update npm package rules
  default.json
Due: prettier --write, renovate-config-validator

feat: add package group for hidoo/handlebars-lib
  default.json
Due: prettier --write, renovate-config-validator

chore(git): add *.log file to gitignore
  .gitignore
Due: none

ci(node): add support for node.js v22 [shepherd]
  .github/workflows/test.yml
Due: none

ci(github): change to specify pnpm version by packageManager field [shepherd]
  .github/workflows/test.yml
Due: none

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write: any of: **/*.{js,json}
  renovate-config-validator: any of: default.json
